@font-face {
    font-family: first-font;
    src: url(/assets/fonts/00819\ Regular.ttf);
}

#layer1 {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/images/layer1bg.png")
}

#navbartext li a {
    color: white;
    font-family: "Quicksand";
    font-size: 10px;
}



#logo {
    height: 50px;
    width: 100px;
    margin-left: -20px;
}

.navbutton {
    background-color: rgb(176, 180, 60);
    border: none;
    padding-top: 2px;
    margin-top: 6px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    height: 30px;
    width: 100px
}



/* for the content in the first layer */
#content1 {
    width: 400px;
    margin-left: 350px;
    margin-top: 190px;
}

#line1 {
    font-family: first-font;
    font-size: 80px;
    color: rgb(176, 180, 60);
}

#line2 {
    margin-top: -20px;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;

}

#line3 {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}


#startnow {
    margin-top: 25px;
    height: 40px;
    width: 130px;
    background-color: rgb(176, 180, 60);
    border: none;
    padding-top: 2px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

/* for the layer2 */
#layer2 {
    margin-top: 20px;
    width: 100%;
    height: 400px
}

#content2 {
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

#card1 {
    background-color: rgba(170, 179, 60, 0.3);
    width: 170px;
    height: 180px;
    border-radius: 5px;

}

.cardimg {
    height: 90px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.card-body-custom {
    width: 240px;
    text-align: center;
    margin-left: 28px;
}

.card-title {
    font-size: 20px;
    margin-top: 1px;
    margin-left: 50px;



}


@media screen and (min-width:320px) and (max-width: 767px) {
    #layer1 {
        width: 100%;
        height: 180px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/assets/images/layer1bg.png")
    }
    

/* for the content of the layer1 */
    #content1 {
        width: 400px;
        margin-left: 20px;
        margin-top:1px;
    }
    

    #line1 {
        font-family: first-font;
        font-size: 25px;
        height: 10px;
        color: rgb(176, 180, 60);
    }
    #line2{
        
        margin-top: 20px;
        font-size: 5px;
        line-height: 10px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
    
    }

    #line3 {
        font-size: 5px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
    }

    
#startnow {
    margin-left:12px;
    margin-top: 5px;
    height: 15px;
    width: 60px;
    background-color: rgb(176, 180, 60);
    border: none;
    padding-top: 2px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 5px;
}


/* for the layer2 */
#layer2 {
    margin-top: 10px;
    width: 100%;
    height: 200px
}

#content2 {
    width: 140px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 7px;
}

#card1 {
    background-color: rgba(170, 179, 60, 0.3);
    width: 80px;
    height: 70px;
    border-radius: 5px;
    display: inline-flex;
}

.cardimg {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}

.card-body-custom {
    width: 80px;
    text-align: center;
    margin-left: 2px;
}

.card-title-custom {
    font-size: 7px;
    margin-top: 1px;
    



}







  }







#layer3 {
    width: 100%;
    height: 800px;
}

#layer3content {
    float: right
}

#layer3head {
    font-size: 30px;
    font-weight: 800;
    margin-top: 80px;

}

.l3con {
    font-family: 'Quicksand', sans-serif;
}

#layer3content1 {
    font-size: 14px;
    width: 650px;
}

#layer3content2 {
    font-size: 14px;
    width: 650px;
    margin-top: 30px;
}

#mobilephn {
    float: right;
}

#lay3im1 {
    width: 60px;
    height: 60px;
}

#lay3im2 {
    width: 60px;
    height: 60px;
}

#l3con2 {
    margin-left: -100px;
}

#layer3row2 {
    margin-top: 30px;
}

#unlimited {
    margin-top: 10px;
    width: 260px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

#commercial {
    margin-top: 10px;
    width: 230px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#layer4 {
    /* opacity: 0.6; */
    width: 100%;
    height: 673px;
    /* background-color: #aab33c;  */
}

#l4heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    ;
}

#l4content {
    width: 600px;
}

#l4content p {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}

#computer {
    width: 450px;
    height: 560px;
    margin-left: 100px;
}

#l4content1 {
    margin-top: 30px;
}


/* this should be changed with my util */
#l4content2 {
    margin-top: 30px;
}

#l4content3 {
    width: 300px;
    line-height: 30px;
}

.custom {
    width: 200px;
    height: 30px;
    background-color: #aab33c;
    float: right;
    color: #ffffff;
}

#rectanglebox {
    position: absolute;
    margin-left: -70px;
    margin-top: 500px;
}

#fifteen {
    position: absolute;
    font-size: 50px;
    margin-top: 515px;
    margin-left: -45px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

#years {
    position: absolute;
    margin-top: 532px;
    font-size: 19px;
    width: 20px;
    line-height: 22px;
    margin-left: 10px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

/* for the table */
.bg-custom {
    background-color: #aab33c;
}

#tablehead {
    background-color: #aab33c;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;



}

#tablesubhead {
    font-size: 25px;
}

.textp {
    width: 157px;
    height: 27px;
    font-size: xx-small;
    font-family: 'Quicksand', sans-serif;

}

th {
    height: 15px;
}

.table {
    border-radius: 5px;
    overflow: hidden;
}

#price {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(170, 179, 59, 0.3);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}


#years label {
    position: relative;
    margin-left: 350px;
    width: 50px;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif;


}

.tblep {
    font-weight: 100;
    font-size: xx-small;
    font-family: 'Quicksand', sans-serif;

}

#tblep2 {
    color: #aab33c;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
}

#layer6 {
    background-image: url("/assets/images/layer6bg.png");
    width: 100%;
    height: 212px;

}

#layer6 a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-decoration: none;
    color: black;
    /* margin-top: 100px */
}

#layer7{
    height:272px;
    margin-top:30px;
    position: relative;
    
}
#sublayer7 {
    position: absolute;
    margin-left: 100px;
    margin-top:-20px;

}
#layer7 .card {
    width: 250px;
    height: 50px;
    flex-direction: row;
    margin-left: 85px;
    
}

#layer7 .card img {
    width: 21%;
}

#layer7 .card-text{
    font-size:10px;
}

#layer8{
    height: 170px;
    width: 100%;
    
}
#layer8content{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

#layer8div{
width: 100%;
}



#layer8button{
    background-color: #aab33c;
    color: #ffffff;
    border: none;
    width:233px;
    height:50px;
    margin-left: 500px;

}

#subfooter {
    background-image: url("/assets/images/footerbg.png");
    height: 344px;
}

/* for the p tag in the first column of the footer */
#col1con {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

#footerlist1 {
    list-style-type: none;
    margin-left: -30px;
}


input {
    border: none;
    padding: 10px;
    margin-top: 10px;
}

#footerheads {
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
}

#footerformbutton {
    height: 40px;
    width: 110px;
    background-color: rgb(176, 180, 60);
    border-radius: 2px 2px 2px 2px;
    border: none;
    padding-top: 2px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 135px;
}

#mainfooter {
    width: 100%;
    height: 80px;
    background-color: #aab33c;

}

#mainfootercon1 {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;

}

#mainfootercon2 {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}